*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
.container{
 
  height: 100vh;
 overflow:auto;
 background-color: #1391a2c9;
 background-size: 400% 400%;
 animation: contant 2s linear;
}
:root{
  --bgcolor:#085b63;
  --color:white;

}
.welcom{
  background-color:var(--bgcolor);
  color:var(--color);
}

@keyframes contant {
  0%{
    background-position: 0%;
  }
  25%{
    background-position: 50%;
  }
  50%{
    background-position: 100%;
  }
  100%{
    background-position: 0%;
  }
  
}





.hid{
  opacity: 0;
  transition: all 5s linear;
transform: translatex(-100%);
}
.show{
  opacity: 1;
  transform: translatex(0);

  
  
}



.show[id=banana]{
  animation:banana  5s linear;
  opacity: 1;

}
.show[id=apple]{
  animation:apple  5s linear;
  opacity: 1;


}
.show[id=cocknet]{
  animation:cocknet  5s linear;
  opacity: 1;


}
.show[id=baner2]{
  animation: baner2 5s linear ;
 
  transform-origin: top;
}
#baner2{
  height: 100px;
  padding-left: 120px;
  margin-top: 40px ;
  rotate: calc(-20deg);
 

  
}
 p.show.txt{
  animation: txt 5s linear ;

}

@keyframes txt {
  0%{
  transform: translateX(100%);
  }
  
}

 
   
  

.img1{
  max-height: 300px;
}
@keyframes baner2 {
  0%{
  transform:rotatey(220deg) ;
     
  }
  
}
@keyframes banana {
  0%{
  transform: translateX(-200px);
     
  }
    50%{
      transform: translateX(200px);
         
      }
  
}

@keyframes apple {
  0%{
  transform: translateX(200px);
     
  }
    50%{
      transform: translateX(-200px);
         
      }
  
}
@keyframes cocknet {
  0%{
  transform: translatey(200px);
     
  }
    50%{
      transform: translatey(-100px);
         
      }
  
}

.header{
 animation: header 5s linear;
}

@keyframes header {
  0%{
    transform: rotatex(90deg);
  }
  
}
 
section.parallax-bg {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url('./images/karupusammy.jfif') center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

section.kalasam{
  height: 100vh;
  background:url(./images/kovil\ kalasam.jpeg) center fixed;
 background-size: cover;
 position: relative;
}

#kalasam{
  margin-top: 1em;
}
.temple{
 height: 100vh;
 background: url('./images/new\ temple.jpeg') fixed center ;
 background-size: cover;
 position:relative;
}

#templeid{
  margin-top: 2em;
}


.background{
  background-color:var(--bgcolor);
  color:var(--color);
}
